/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .movie-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .movie-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .movie-card p {
    margin-bottom: 5px;
  }
  
  /* Estilos para móviles */
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    input[type="text"] {
      width: 100%;
    }
  
    button {
      padding: 8px 16px;
    }
  
    .movie-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .movie-card {
      padding: 10px;
    }
  
    .movie-card h2 {
      font-size: 16px;
    }
  }
  